# 20/04 - Pair Programming Pandas 3 - Tatiana & Lara

1) Cargar el dataset
üí° Pista Si hacemos la carga del dataset sin el par√°metro encoding nos dar√° error. Aqu√≠ ten√©is una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.

In [2]:
import pandas as pd

In [3]:
#Carga dataset
data = pd.read_csv("3_attacks.csv", encoding = "iso-8859-1")

# 1. Exploraci√≥n b√°sica del dataframe:

Cu√°ntas filas y columnas tiene el dataframe

In [4]:
print("Nuestro data frame tiene la siguiente forma:", data.shape)
#6114 filas y 22 columnas

Nuestro data frame tiene la siguiente forma: (6114, 22)

Mostrad las primeras cinco filas y las √∫ltimas cinco filas del dataframe

In [5]:
print("Estas son las 5 primeras filas:", "\n", data.head())
print("Estas son las 5 √∫ltimas filas:", "\n", data.tail())

Estas son las 5 primeras filas:
    Unnamed: 0 Case Number    Year        Type    Country             Area  \
0           0  2018.06.25  2018.0     Boating        USA       California
1           1  2018.06.18  2018.0  Unprovoked        USA          Georgia
2           2  2018.06.09  2018.0     Invalid        USA           Hawaii
3           3  2018.06.08  2018.0  Unprovoked  AUSTRALIA  New South Wales
4           4  2018.06.04  2018.0    Provoked     MEXICO           Colima

                         Location     Activity              Name Sex   ...  \
0     Oceanside, San Diego County     Paddling       Julie Wolfe    F  ...
1  St. Simon Island, Glynn County     Standing  Adyson√Ç¬†McNeely     F  ...
2                    Habush, Oahu      Surfing       John Denges    M  ...
3              Arrawarra Headland      Surfing              male    M  ...
4                        La Ticla  Free diving    Gustavo Ramos     M  ...

          Species           Investigator or Source                       pdf  \
0      White shark                R. Collier, GSAF      2018.06.25-Wolfe.pdf
1              NaN  K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2              NaN  K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3        2 m shark                  B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4  Tiger shark, 3m                       A .Kipper      2018.06.04-Ramos.pdf

                                        href formula  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...
1  http://sharkattackfile.net/spreadsheets/pdf_di...
2  http://sharkattackfile.net/spreadsheets/pdf_di...
3  http://sharkattackfile.net/spreadsheets/pdf_di...
4  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                href Case Number.1  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04

  Case Number.2 original order Unnamed: 22  Unnamed: 23
0    2018.06.25         6303.0         NaN          NaN
1    2018.06.18         6302.0         NaN          NaN
2    2018.06.09         6301.0         NaN          NaN
3    2018.06.08         6300.0         NaN          NaN
4    2018.06.04         6299.0         NaN          NaN

[5 rows x 22 columns]
Estas son las 5 √∫ltimas filas:
       Unnamed: 0   Case Number    Year          Type    Country  \
6109        6127  1804.02.26.R  1804.0          Boat  AUSTRALIA
6110        6128    1803.05.17  1803.0  Sea Disaster        USA
6111        6129    1803.03.00  1803.0    Unprovoked  AUSTRALIA
6112        6130  1802.04.13.R  1802.0    Unprovoked      INDIA
6113        6131  1801.12.18.R  1801.0      Provoked        NaN

                   Area                          Location  \
6109    New South Wales    Georges Head, off Port Jackson
6110     South Carolina                    Off Charleston
6111  Western Australia  Hamelin Harbour, at Faure Island
6112                NaN                               NaN
6113                NaN                               NaN

                             Activity                             Name Sex   \
6109                              NaN                             boat  NaN
6110                              NaN                    Captain Jones    M
6111                              NaN  M. Lefevre & a sailor (rescuer)    M
6112                              NaN                              NaN  NaN
6113  Standing on landed shark's tail                 Stephen Pettigew    N

      ...   Species                              Investigator or Source  \
6109  ...        NaN                         Sydney Gazette, 2/26/1804
6110  ...        NaN                            Evening Post, 6/13/1803
6111  ...        NaN  F.  Peron ref in G.P. Whitley (Fishes of Austr...
6112  ...        NaN                  Evening Post (New York) 4/13/1802
6113  ...  12' shark                       The Evening Post, 12/18/1801

                                  pdf  \
6109  1804.02.26-boat-GeorgesHead.pdf
6110             1803.05.17-Jones.pdf
6111           1803.03.00-Lefevre.pdf
6112           1802.04.13.R-India.pdf
6113       1801.12.18.R-Pettigrew.pdf

                                           href formula  \
6109  http://sharkattackfile.net/spreadsheets/pdf_di...
6110  http://sharkattackfile.net/spreadsheets/pdf_di...
6111  http://sharkattackfile.net/spreadsheets/pdf_di...
6112  http://sharkattackfile.net/spreadsheets/pdf_di...
6113  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
6109  http://sharkattackfile.net/spreadsheets/pdf_di...  1804.02.26.R
6110  http://sharkattackfile.net/spreadsheets/pdf_di...    1803.05.17
6111  http://sharkattackfile.net/spreadsheets/pdf_di...    1803.03.00
6112  http://sharkattackfile.net/spreadsheets/pdf_di...  1802.04.13.R
6113  http://sharkattackfile.net/spreadsheets/pdf_di...  1801.12.18.R

     Case Number.2 original order Unnamed: 22  Unnamed: 23
6109  1804.02.26.R          176.0         NaN          NaN
6110    1803.05.17          175.0         NaN          NaN
6111    1803.03.00          174.0         NaN          NaN
6112  1802.04.13.R          173.0         NaN          NaN
6113  1801.12.18.R          172.0         NaN          NaN

[5 rows x 22 columns]

Mostrad 2 filas al azar del dataframe

In [6]:
print("Estas son dos filas al azar de nuestro dataframe:", "\n", data.sample(2))

Estas son dos filas al azar de nuestro dataframe:
       Unnamed: 0   Case Number    Year          Type Country       Area  \
5327        5342  1914.03.10.R  1914.0  Sea Disaster  GUYANA  Essequibo
3370        3380    1970.10.00  1970.0    Unprovoked     USA    Florida

                             Location      Activity             Name Sex   \
5327            Essequibo River Mouth  Boat swamped  Harold F. Brook    M
3370  Matanzas Inlet, St Johns County       Surfing     Robbie Baker    M

      ... Species                   Investigator or Source  \
5327  ...      NaN                          C. Moore, GSAF
3370  ...      NaN  H. Wessel, Orlando Sentinel, 8/1/2001

                         pdf  \
5327  1914.03.10.R-Brook.pdf
3370    1970.10.00-Baker.pdf

                                           href formula  \
5327  http://sharkattackfile.net/spreadsheets/pdf_di...
3370  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
5327  http://sharkattackfile.net/spreadsheets/pdf_di...  1914.03.10.R
3370  http://sharkattackfile.net/spreadsheets/pdf_di...    1970.10.00

     Case Number.2 original order Unnamed: 22  Unnamed: 23
5327  1914.03.10.R          961.0         NaN          NaN
3370    1970.10.00         2923.0         NaN          NaN

[2 rows x 22 columns]

¬øCu√°l es el nombre de las columnas del dataframe?

In [7]:
print("El nombre de las columnas es:", "\n", data.columns)

El nombre de las columnas es:
 Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

¬øCu√°les son los principales est√°disticos del dataframe? Mostrad por separado las variables categ√≥ricas y las variables num√©ricas.

In [8]:
print("Los principales datos estad√≠sticos de las variables num√©ricas son:", "\n", data.describe().round(2))

Los principales datos estad√≠sticos de las variables num√©ricas son:
        Unnamed: 0     Year  original order
count     6114.00  6114.00         6114.00
mean      3065.55  1968.83         3237.45
std       1769.65    43.75         1769.65
min          0.00  1801.00          172.00
25%       1534.25  1946.00         1706.25
50%       3066.50  1980.00         3236.50
75%       4596.75  2005.00         4768.75
max       6131.00  2018.00         6303.00

In [9]:
print("Los principales datos estad√≠sticos de las variables categ√≥ricas son:", "\n", data.describe(include = "object"))

Los principales datos estad√≠sticos de las variables categ√≥ricas son:
        Case Number        Type Country     Area  \
count         6113        6110    6074     5706
unique        6113           8     201      791
top     2018.06.25  Unprovoked     USA  Florida
freq             1        4438    2200     1025

                                Location Activity  Name  Sex    Age  \
count                               5626     5603  5914  5564  3448
unique                              4020     1484  5118     6   156
top     New Smyrna Beach, Volusia County  Surfing  male     M    17
freq                                 162      966   511  4939   154

             Time     Species  Investigator or Source                     pdf  \
count        2934         3409                   6098                    6114
unique        366         1529                   4837                    6105
top     Afternoon  White shark         C. Moore, GSAF  1898.00.00.R-Syria.pdf
freq          183          161                     95                       2

                                             href formula  \
count                                                6113
unique                                               6104
top     http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                    2

                                                     href Case Number.1  \
count                                                6114          6114
unique                                               6099          6113
top     http://sharkattackfile.net/spreadsheets/pdf_di...    1952.08.04
freq                                                    4             2

       Case Number.2   Unnamed: 22 Unnamed: 23
count           6114             1           2
unique          6114             1           2
top       2018.06.25  stopped here      Teramo
freq               1             1           1

¬øCu√°l es el porcentaje de valores nulos en cada columna?

In [18]:
total_nulos = data.isnull().sum()
#print(total_nulos)
porcentaje_nulos = total_nulos / data.shape[0] * 100
print("El porcentaje de valores nulos en cada columna es:", "\n", porcentaje_nulos.round(2))

El porcentaje de valores nulos en cada columna es:
 unnamed:_0     0.00
year           0.00
type           0.07
country        0.65
area           6.67
location       7.98
activity       8.36
name           3.27
sex_           9.00
age           43.60
time          52.01
species_      44.24
href           0.00
dtype: float64

Sacad los valores √∫nicos y su frecuencia de las variables num√©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.

In [11]:
#Variable num√©rica "unnamed:0"
valores_uni = data["Unnamed: 0"].unique()
frecuencia = pd.value_counts(valores_uni)
print("Los valores √∫nicos de la variable num√©rica 'unnamed 0' es:", valores_uni)
print("La frecuencia de valores de la variable num√©rica 'unnamed 0' es:", frecuencia)


#Year
valores_uni_y = data["Year"].unique()
frecuencia_y = pd.value_counts(valores_uni_y)
print("Los valores √∫nicos de la variable num√©rica 'Year' es:", valores_uni_y)
print("La frecuencia de valores de la variable num√©rica 'Year' es:", frecuencia_y)


#Original order
valores_uni_o = data["original order"].unique()
frecuencia_o= pd.value_counts(valores_uni_o)
print("Los valores √∫nicos de la variable num√©rica 'original order' es:", valores_uni_o)
print("La frecuencia de valores de la variable num√©rica 'original order' es:", frecuencia_o)

Los valores √∫nicos de la variable num√©rica 'unnamed 0' es: [   0    1    2 ... 6129 6130 6131]
La frecuencia de valores de la variable num√©rica 'unnamed 0' es: 0       1
4084    1
4093    1
4092    1
4091    1
       ..
2043    1
2042    1
2041    1
2040    1
6131    1
Length: 6114, dtype: int64
Los valores √∫nicos de la variable num√©rica 'Year' es: [2018. 2017. 2016. 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008. 2007.
 2006. 2005. 2004. 2003. 2002. 2001. 2000. 1999. 1998. 1997. 1996. 1995.
 1984. 1994. 1993. 1992. 1991. 1990. 1989. 1969. 1988. 1987. 1986. 1985.
 1983. 1982. 1981. 1980. 1979. 1978. 1977. 1976. 1975. 1974. 1973. 1972.
 1971. 1970. 1968. 1967. 1966. 1965. 1964. 1963. 1962. 1961. 1960. 1959.
 1958. 1957. 1956. 1955. 1954. 1953. 1952. 1951. 1950. 1949. 1948. 1848.
 1947. 1946. 1945. 1944. 1943. 1942. 1941. 1940. 1939. 1938. 1937. 1936.
 1935. 1934. 1933. 1932. 1931. 1930. 1929. 1928. 1927. 1926. 1925. 1924.
 1923. 1922. 1921. 1920. 1919. 1918. 1917. 1916. 1915. 1914. 1913. 1912.
 1911. 1910. 1909. 1908. 1907. 1906. 1905. 1904. 1903. 1902. 1901. 1900.
 1899. 1898. 1897. 1896. 1895. 1894. 1893. 1892. 1891. 1890. 1889. 1888.
 1887. 1886. 1885. 1884. 1883. 1882. 1881. 1880. 1879. 1878. 1877. 1876.
 1875. 1874. 1873. 1872. 1871. 1870. 1869. 1868. 1867. 1866. 1865. 1864.
 1863. 1862. 1861. 1860. 1859. 1858. 1857. 1856. 1855. 1853. 1852. 1851.
 1850. 1849. 1847. 1846. 1845. 1844. 1842. 1841. 1840. 1839. 1837. 1836.
 1835. 1834. 1832. 1831. 1830. 1829. 1828. 1827. 1826. 1825. 1823. 1822.
 1819. 1818. 1817. 1816. 1815. 1812. 1811. 1810. 1808. 1807. 1805. 1804.
 1803. 1802. 1801.]
La frecuencia de valores de la variable num√©rica 'Year' es: 2018.0    1
1877.0    1
1887.0    1
1886.0    1
1885.0    1
         ..
1947.0    1
1946.0    1
1945.0    1
1944.0    1
1801.0    1
Length: 207, dtype: int64
Los valores √∫nicos de la variable num√©rica 'original order' es: [6303. 6302. 6301. ...  174.  173.  172.]
La frecuencia de valores de la variable num√©rica 'original order' es: 6303.0    1
2219.0    1
2210.0    1
2211.0    1
2212.0    1
         ..
4260.0    1
4261.0    1
4262.0    1
4263.0    1
172.0     1
Length: 6113, dtype: int64

In [12]:
print(len(valores_uni_o)) 
print(len(frecuencia_o))

6113
6113

In [19]:
# Diccionario {valor √∫nico : frecuencia}

lista = list(zip(valores_uni, frecuencia))
dicc_unnamed0 = dict(lista)
#print(dicc_unnamed0)

lista_y = list(zip(valores_uni_y, frecuencia_y))
dicc_year = dict(lista_y)
#print(dicc_year)

#original order
lista_o = list(zip(valores_uni_o, frecuencia_o))
dicc_ori= dict(lista_o)

Cambiad el nombre de las columnas para que todas est√©n en min√∫sculas y reemplazad los espacios por _.

In [14]:
columnas_nuevas = {col :  col.lower().replace(" ", "_") for col in data.columns}
columnas_nuevas
data.rename(columns = columnas_nuevas, inplace= True)
data.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.

In [15]:
data = data.drop(["unnamed:_22", "unnamed:_23", "case_number.1", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1)
print(data.columns)
data

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

Establece la columna Case Number como √≠ndice del dataframe

In [16]:
data.set_index(["case_number"], inplace = True)
data.head()

,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
case_number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

Guarda el csv que no tiene esas columnas para seguir us√°ndolo ma√±ana.

In [17]:
data.to_csv("datos_guardados.csv")