# 18/05 - Pair Programming ETL 3.1 - Lidia y Tatiana

In [1]:
import requests
import pandas as pd
import numpy as np
import mysql.connector

Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr√° la informaci√≥n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr√° la informaci√≥n obtenida en el ejercicio de pair de ETL 1.

üìå Nota Todo lo tendremos que hacer desde jupyter notebook

Cread la BBDD con el nombre de tiburones.

Cread las tablas de la BBDD:

Tabla ataques

Tabla clima

In [2]:
df_ataques=pd.read_csv("./attacks_limpieza_completa.csv",index_col=0)
df_ataques.head(1)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327

In [3]:
df_clima=pd.read_csv("./df_completo.csv",index_col=0)
df_clima.head(1)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais,latitud,longitud
0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 5}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 245, 'speed':...",21,2,8,1017,none,0,0,200,2,USA,39.78373,-100.445882

In [4]:
def crear_bbdd(nombre_bbdd):
    mydb = mysql.connector.connect(host="127.0.0.1",user="root",password="AlumnaAdalab" )# aqu√≠ tendr√©is que poner vuestra contrase√±a de MySQL
    print("Conexi√≥n realizada con √©xito")
    
    mycursor = mydb.cursor() # .cursor es el nexo de union entre python y la BBDD

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};") #.execute ,ejecutamos la query que hayamos definido previamente
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [6]:
#Hemos creado una tabla llamada tiburones
mydb = crear_bbdd("tiburones")

Conexi√≥n realizada con √©xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

    Ahora dentro de tiburones creamos ATAQUES Y CLIMA

In [7]:
def crear_insertar_tabla(nombre_bbdd, contrase√±a, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root',host='127.0.0.1', password="AlumnaAdalab", database="tiburones")
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [49]:
tabla_ataques = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques`(
  `id_ataques`INT NOT NULL AUTO_INCREMENT,
  `year`INT NOT NULL,
  `type`VARCHAR(10) NOT NULL,
  `country`VARCHAR(20) NOT NULL,
  `age`DECIMAL NOT NULL,
  `species_`VARCHAR(20) NOT NULL,
  `fecha_limpia`VARCHAR(3)NOT NULL,
  `fatal`VARCHAR(7) NOT NULL,
  `sex`VARCHAR(1) NOT NULL,
  `latitud`DECIMAL NOT NULL,
  `longitud`DECIMAL NOT NULL,
  `country2`VARCHAR(2) NOT NULL,
  `fatal_N`INT NOT NULL,
  `fatal_Unknown`INT NOT NULL, 
  `fatal_Y`INT NOT NULL,
  `age_NORM`DECIMAL NOT NULL,
  PRIMARY KEY (`id_ataques`));
'''

In [50]:
crear_insertar_tabla("tiburones","AlumnaAdalab", tabla_ataques)

In [43]:
tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima`(
  `id_indice`INT NOT NULL AUTO_INCREMENT,
  `timepoint`INT NOT NULL,
  `cloudcover`INT NOT NULL,
  `temp2m`INT NOT NULL,
  `lifted_index` INT NOT NULL,
  `rh2m`INT NOT NULL,
  `msl_pressure`INT NOT NULL,
  `prec_type`VARCHAR(10) NOT NULL,
  `prec_amount`INT NOT NULL,
  `pais`VARCHAR(10) NOT NULL,
  `latitud` DECIMAL NOT NULL,
  `longitud`DECIMAL NOT NULL,
 PRIMARY KEY (`id_indice`));
'''

In [44]:
crear_insertar_tabla("tiburones","AlumnaAdalab", tabla_clima)

    Listo funciona üòÉ

------------


BONUS Insertar los datos en las tablas.

üìå Nota Esta parte del pair es optativa y no ser√° considerada para la evaluaci√≥n
üö® En caso de que no teng√°is los datos unidos de la sesi√≥n anterior, ten√©is un csv datos_union_clima_ataques con todos los datos que necesitareis para este ejercicio

    Ahora hay que sacar los ID de atauqes y clima 
    Cuando tengamos los ID entonces podemos insertar los datos en la BBDD

In [ ]:
for indice, fila in df_clima.iterrows():  # si tienen comillas es que su tipo NO es un integer

    query_clima = f"""
                INSERT INTO clima (timepoint, cloudcover, highcloud, midcloud, lowcloud,rh_profile, wind_profile, temp2m, lifted_index, rh2m,
                msl_pressure, prec_type, prec_amount, snow_depth, pais, latitud, longitud) 

                VALUES ({fila['timepoint']}, {fila['cloudcover']}, "{fila['highcloud']}", {fila['midcloud']},{fila['lowcloud']},{fila['lowcloud']}, 
                "{fila['rh_profile']}","{fila['wind_profile']}",{fila['temp2m']}, {fila['lifted_index']}, {fila['rh2m'], }, {'id_indice'} );
                """
    print(query_clima)
    crear_insertar_tabla("tiburon","AlumnaAdalab", df_clima)

In [ ]:
for indice, fila in df_ataques.iterrows():  # si tienen comillas es que su tipo NO es un integer

    query_ataques = f"""
                INSERT INTO ataque (id_ataques, type, country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,country2,fatal_N,fatal_Unknown,fatal_Y,age_NORM)

                VALUES ({fila['id_ataques']}, {fila['type']}, "{fila['country']}", {fila['age']},{fila['species_']},{fila['fecha_limpia']}, 
                "{fila['fatal']}","{fila['sex']}",{fila['latitud']}, {fila['longitud']}, {fila['country2'], }, {'id_indice'} );
                """
    print(query_ataques)
    crear_insertar_tabla("tiburon","AlumnaAdalab", df_ataques)