# 19/04 - Pair Programming Pandas 2 - Tatiana & Lara

In [1]:
import pandas as pd
import numpy as np
import pickle

Carga de archivo CSV

In [2]:
#CSV
csv = pd.read_csv("2_quejas.csv", sep = ";", encoding = "latin-1")
csv.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

Carga de archivo XLSX

In [3]:
#XLSX
import openpyxl

xlsx = pd.read_excel("2_quejas.xlsx")
xlsx.head(2)

        DESCRIPCION_TEMA         DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO  ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO             FUNCIÓN PÚBLICA

Carga de archivo JSON

In [ ]:
#JSON

json = pd.read_json("2_quejas.json")
json.head(2)

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [ ]:
#Transformamos JSON a formato legible
json_legible = json["data"].apply(pd.Series)
json_legible.head(2)

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A

Carga de archivo pickle

CSV de quejas, lo guardamos como pickle.
Y ya podemos probar el método pd.read_pickle

In [9]:
csv_pick = pd.read_csv("2_quejas.csv", sep = ";", encoding = "latin-1")
alternative_pickle = csv_pick.to_pickle("alternative_pickle.pickle")

In [10]:
pick = pd.read_pickle("alternative_pickle.pickle")
pick.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

Carga y guardado de tabla almacenada en el portapapeles

In [18]:
#CLIPBOARD

clip = pd.read_clipboard(sep = " ")
clip

,NIVEL,MES,AÑO,(*),MES.1,AÑO.1,MES.2,AÑO.2,MES.3,AÑO.3,MES.4,AÑO.4,MES.5,AÑO.5,MES.6,(**),AÑO.6,(**).1
0,30,"1.060,77","14.850,78","2.275,16","30.922,22","2.110,83","28.983,16","1.978,66","27.452,12","1.849,19","25.674,68","1.716,95","24.025,34","1.706,00","23.884,00",NaN,NaN,NaN
1,29,"951,46","13.320,44","2.165,85","29.391,88","2.001,52","27.452,82","1.869,35","25.921,78","1.739,88","24.144,34","1.607,64","22.495,00","1.592,09","22.289,26",NaN,NaN,NaN
2,28,"911,48","12.760,72","2.125,87","28.832,16","1.961,54","26.893,10","1.829,37","25.362,06","1.699,90","23.584,62","1.567,66","21.935,28","1.550,43","21.706,02",NaN,NaN,NaN
3,27,"871,43","12.200,02","2.085,82","28.271,46","1.921,49","26.332,40","1.789,32","24.801,36","1.659,85","23.023,92","1.527,61","21.374,58","1.508,72","21.122,08",NaN,NaN,NaN
4,26,"764,54","10.703,56","1.978,93","26.775,00","1.814,60","24.835,94","1.682,43","23.304,90","1.552,96","21.527,46","1.420,72","19.878,12","1.397,30",19.562,NaN,NaN,NaN

https://www.sepg.pap.hacienda.gob.es/sitios/sepg/es-ES/CostesPersonal/EstadisticasInformes/Documents/A%C3%91O%202021/Retribuciones%20personal%20funcionario%202021.pdf

Guardado en los siguientes formatos:
- csv
- excel
- json
- pickle

In [21]:
clip_csv = clip.to_csv("archivos_nuevos/clip.csv")
clip_excel = clip.to_excel("archivos_nuevos/clip.xlsx")
clip_json = clip.to_json("archivos_nuevos/clip.json")
clip_pickle = clip.to_pickle("archivos_nuevos/clip.pickle")